# Backend (Symfony)
APP_ENV=dev
APP_DEBUG=1
NGINX_PORT=8080

# JWT (generowane: docker compose exec php php bin/console lexik:jwt:generate-keypair)
JWT_PASSPHRASE=5303df91d6074f1aacf7c808b4423ca3a90e74a33784e872cf7ac4660ac5bbf3

# PostgreSQL
POSTGRES_DB=taxinvest
POSTGRES_USER=taxinvest
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=taxinvest
RABBITMQ_PASSWORD=secret
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Frontend Vue (Vite)
VUE_PORT=5173
VITE_API_URL=http://localhost:8080

# Frontend Next.js
NEXT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8080
